:root {
    /*colors*/
    --color-text: #fff;
    --color-orinary: #576cbc;
    --color-secondary: #19076d;
    --color-dark: #0b3447;
    --color-bg: #04152d;

    /*fonts*/
    --font-roboto:"Roboto";

}